.visualiser {
  display: flex;
  justify-content: center;
}

.bar {

}

.menu-container {
  background-color: #d1d5da;
  padding: 0px 20px 0px 20px;
  height: 100vh;
  box-sizing: border-box;
  flex: 0 0.1 300px;

  display: flex;
  flex-flow: column;
}

.menu-subcontainer {
  flex: 0 1 100vh;
  overflow: auto;
  margin-bottom: 20px;
  width: 100%;
}

input[type="range"] {
  width: 90%;
}

.menu-input-args-sources-description-text {
  background-color: #b6bdc5;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.menu-moves-sources-description-text {
  background-color: #b6bdc5;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.moves-container {
  background-color: #b6bdc5;
  padding: 0px 20px 0px 20px;
  flex: 0 1 100px;
  /* width: 100px; */

  display: flex;
  flex-flow: column;
  height: 100vh;
  box-sizing: border-box;
}

.moves-subcontainer {
  flex: 0 1 100vh;
  overflow: hidden;
  margin-bottom: 20px;
}

.moves-content {
  /* flex: 1 1 auto; */
  list-style-type: none;
  overflow: scroll;
  padding-left: 5px;
  /* height: */
}

.moves-current-move {
  border: solid green 1px;
  background-color: lightgreen;
}

.stack-spacer {
  background-color: #717e8e;
  flex: 0 1 20px;
}

.stack-container {
  background-color: #717e8e;
  /* padding: 0px 20px 0px 20px; */
  padding: 0px;
  height: 100vh;
  box-sizing: border-box;
  flex: 0 1 500px;

  display: flex;
  flex-flow: column;

}

.stack-title {
  flex: 0 0 auto;
}

.stack-subcontainer {
  background-color: #2e343a;
  margin-bottom: 20px;
  flex: 0 1 100vh;
  overflow: hidden;
  /* width: 100%; */
}

.stack-content {
  width: 0px;
  list-style-type: none;
  padding: 5px;
  margin: 0px;
  margin-bottom: 15px;
  overflow: visible;
  box-sizing: border-box;
}

.stack {
  background-color: #2e343a;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  margin-bottom: 15px;
  /* width: 510px; */
  /* height: 1010px; */
  box-sizing: border-box;
  /* width: 100%; */
  overflow: visible;

  position: relative;

}

.bar {

}

/* label {
  display: block;
  float: ;
  float: left;
} */