.visualiser {
  display: flex;
  justify-content: center;
}

.bar {

}

.menu-container {
  background-color: #d1d5da;
  padding: 0px 20px 0px 20px;
  height: 100vh;
  box-sizing: border-box;
  flex: 0 0 300px;
}

.moves-container {
  background-color: #b6bdc5;
  padding: 0px 20px 0px 20px;
  flex: 0 0 100px;

  display: flex;
  flex-flow: column;
  height: 100vh;
  box-sizing: border-box;
}

.moves-data {
  flex: 1 1 auto;
  list-style-type: none;
  overflow: scroll;
  padding-left: 5px;
  /* height: */
}

.stack-container {
  background-color: #717e8e;
  padding: 0px 20px 0px 20px;
  height: 100vh;
  box-sizing: border-box;
  flex: 0 1 510px;

  display: flex;
  flex-flow: column;
}

.stack {
  background-color: #2e343a;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  flex: 1 1 100px;
  box-sizing: border-box;
}